@use "../../styles/variables" as *;

.dashboard__view-toggle {
  display: flex;
  border: 1px solid $gray-300;
  border-radius: $radius-sm;
  overflow: hidden;
}

.dashboard__view-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: $white;
  border: none;
  color: $gray-400;
  font-size: 18px;
  cursor: pointer;
  transition: all $transition-fast;

  &:hover {
    color: $gray-600;
    background: $gray-50;
  }

  &--active {
    background: $primary;
    color: $white;

    &:hover {
      background: $primary-dark;
      color: $white;
    }
  }
}

@media (max-width: #{$bp-mobile - 1}) {
  .dashboard__view-toggle-btn {
    width: 44px;
    height: 44px;
  }
}
